body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#9096a6,#64413b);
    
  }
  
  .login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: radial-gradient(#fff,#351616);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(4, 25, 9, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #161515;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #111010;
  }
  